name: Lighthouse Batch Audit

on:
  workflow_dispatch:

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install lighthouse-batch
        run: npm install -g lighthouse-batch


      - name: Run lighthouse-batch
        run: |
          lighthouse-batch -s $(paste -sd, urls.txt)

      - name: Upload reports
        uses: actions/upload-artifact@v4
        with:
          name: lighthouse-reports
          path: reports
